<header>
    <nav>
        <a href="/" class="nav-logo">
            <div class="nav-logo-container">
                <span class="nav-logo-main">FAP</span>
                <span class="nav-logo-subtitle">Fight Against Pornography</span>
            </div>
        </a>

        <ul class="nav-links">
            <li><a href="/analysis">Analysis</a></li>
            <li><a href="/ressource">Ressources</a></li>
            <!-- <li><a href="/thoughts">Thoughts on Porn</a></li> -->
            <!-- <li><a href="/explore">Why fap.dev ?</a></li> -->
        </ul>

        <div class="nav-actions">
            <button class="theme-toggle" id="themeToggle">
                <span id="themeIcon">🌙</span>
            </button>
            <a href="/donate" class="donate-button">DONATE</a>
        </div>
    </nav>
</header>
